.error{
    background-color: purple;
}

.nuevo {
    font-family: monospace;
    font-size: 100px;
}

.button{
    border: 1px solid black;
    padding: 1em 3em;
    background-color: salmon;
}

#bolita{
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    top:0;
    
}